<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <button (click)="goLogin()" class="button" >Back</button>
    </ion-buttons>
    <ion-title>Reset Your Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center1">
  <form [formGroup]="passwordForm" (ngSubmit)="submitPassword()" novalidate>
    
    <ion-item lines="full">
      <ion-label position="floating">Business mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && formControls.email.errors.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && formControls.email.errors.pattern">
      Enter valid email.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Send</ion-button>
      </ion-col>
    </ion-row>

    <small>
      Please provide the username or email address that you used when you signed
      up for your Evernote account.
    </small>
  </form>
</ion-content>