<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calendar</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-button (click)="addHolidayRequest()" expand="block">Add Holiday Request</ion-button>

  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  [showEventDetail] = "false"
  (onRangeChanged)="reloadSource(startTime, endTime)"
  (onEventSelected)="onEventSelected($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30">
  </calendar>
  
</ion-content>

<ion-content class = "ion-padding-bottom">
  <ion-card class = card1 *ngFor="let tarea of tareas">

    <ion-card-header>
      <ion-card-title>Tarea</ion-card-title>
    </ion-card-header>

    <ion-card-content >

      <div>
        WorkerID: {{tarea.workerID}}
      </div>

      <div>
        Titulo: {{tarea.titulo}}
      </div>

      <div>
        Descripcion: {{tarea.descripcion}}
      </div>

      <div>
        Fecha: {{tarea.fecha}}
      </div>

      <div>
        Hora de Inicio:{{tarea.horaI}}
      </div>

      <div>
        Hora de Finalizacion:{{tarea.horaF}}
      </div>

    </ion-card-content>
  </ion-card>

  <ion-card class = card2 *ngFor="let request of requests">

    
    <ion-card-header>
      <ion-card-title>Libranza</ion-card-title>
    </ion-card-header>

    <ion-card-content >

      <div>
        WorkerID: {{request.workerID}}
      </div>

      <div>
        Motivo: {{request.motivo}}
      </div>

      <div>
        Descripcion: {{request.descripcion}}
      </div>

      <div>
        Fecha de inicio: {{request.fechaI}}
      </div>

      <div>
        Fecha de Finalizacion:{{request.fechaF}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>

