<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/admin-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Requests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class = "ion-wrap" class = "ion-padding-bottom">
 
    <div class = "center">
      <ion-button [routerLink]="['/registration-request/'+data]">Registration Requests</ion-button>
    </div>
  
    <div class = "center">
      <ion-button [routerLink]="['/holiday-pending/'+ data]">Holiday Request</ion-button>
    </div>

  </ion-list>
</ion-content>


