<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list class = "ion-wrap" class = "ion-padding-bottom">

  <div class = "center">
    <ion-button [routerLink]="['/calendar/'+ data]">Calendar</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/contacts']">Contacts</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/profile/'+ data]">Profile</ion-button>
    </div>

  <div class = "center">
    <ion-button [routerLink]="['/chat']">CHAT</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/job-clock']">clock-in or clock-out</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/faq-user']">FAQ</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/comment']">Help us to improve</ion-button>
  </div>

</ion-list>
