<ion-header>
  <ion-toolbar>
    <ion-buttons menu-id="menu1" slot="end" (click)="obtainID()">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>User Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list class = "ion-wrap" class = "ion-padding-bottom">

  <div class = "center">
    <ion-button [routerLink]="['/calendar/'+ data]">Calendar</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/contacts/'+data]">Contacts</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/profile/'+ data]">Profile</ion-button>
    </div>

  <div class = "center">
    <ion-button [routerLink]="['/chat/' + data]">CHAT</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/job-clock/' +data]">clock-in or clock-out</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/faq-user/' + data ]">FAQ</ion-button>
  </div>

  <div class = "center">
    <ion-button [routerLink]="['/comment/' + data]">Help us to improve</ion-button>
  </div>

</ion-list>
