<ion-header>
  <ion-toolbar>
    <ion-buttons menu-id="menu1" slot="end" (click)="obtainID()">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>User Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list class = "ion-wrap" class = "ion-padding-bottom">

  <div class = "center">
    <ion-button expand="block" [routerLink]="['/calendar/'+ data]">
      <ion-icon name="calendar-number-outline"></ion-icon>Calendar</ion-button>
  </div>

  <div class = "center">
    <ion-button expand="block" [routerLink]="['/contacts/'+data]">
      <ion-icon name="id-card-outline"></ion-icon>Contacts</ion-button>
  </div>

  <div class = "center">
    <ion-button expand="block" (click)="goClock()"><ion-icon name="time-outline"></ion-icon>clock-in or clock-out</ion-button>
  </div>

  
  
  <div class = "center">
    <ion-button expand="block" [routerLink]="['/faq-user/' + data ]">
      <ion-icon name="book-outline"></ion-icon>FAQ</ion-button>
  </div>

  <div class = "center">
    <ion-button expand="block" [routerLink]="['/comment/' + data]">
      <ion-icon name="folder-outline"></ion-icon>Complaints & Suggestions</ion-button>
  </div>

</ion-list>
