<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/user']">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Register User</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>


  <form [formGroup]="registerUserForm" (ngSubmit)="submitRegisterUser()" novalidate>

    <ion-item>
      <ion-label>Company</ion-label>
      <ion-select value="none" ok-text="Okay" (ionChange)="ionChanger($event)" cancel-text="Dismiss">
        <ion-select-option value="none">...</ion-select-option>
        <ion-select-option *ngFor="let admin of admins" value="{{admin.name}}">{{admin.name}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Name and Surnames</ion-label>
      <ion-input disabled= "true" formControlName="name" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && formControls.name.errors?.required">
      Name is required.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input disabled= "true" formControlName="email" type="email"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && formControls.email.errors?.required">
      Email is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && formControls.email.errors?.pattern">
      Enter valid email.
    </span>


    <ion-item lines="full">
      <ion-label position="floating">Phone number</ion-label>
      <ion-input disabled= "true" formControlName="phone" type="text" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && formControls.phone.errors?.required">
      Phone number is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && formControls.phone.errors?.minlength">
      Min 9 chars long.
    </span>
    <span class="error ion-padding" *ngIf="submitted && formControls.phone.errors?.pattern">
      Number values allowed.
    </span>
    

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input disabled= "true" formControlName="password" type="password" required></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && formControls.password.errors?.required">
      Password is required.
    </span>
    <span class="error ion-padding" *ngIf="submitted && formControls.password.errors?.minlength">
      Min 6 chars long.
    </span>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
