<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/requests/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>RegistrationRequests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngFor="let user of users">
    <ion-card-content >

      <div class="user-password">
        Worker ID:{{user.workerID}}
      </div>

      <div class="user-name">
        User: {{user.name}}
      </div>

      <div class="user-email">
        Email: {{user.email}}
      </div>

      <div class="user-phone">
        Phone: {{user.phone}}
      </div>

    </ion-card-content>

    <ion-footer class="center">
      <ion-button (click)="acceptRequest(user.workerID, user.email)">Accept</ion-button>
      <ion-button (click)="refuseRequest(user.workerID, user.email)">Refuse</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>
