<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/user-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Help us to improve</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="center">
  <form [formGroup]="commentForm" (ngSubmit)="submitComment()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">Content</ion-label>
      <ion-input formControlName="content" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="submitted && formControls.content.errors.required">
      Content is required.
    </span>

    <ion-row>
      <ion-col class="center">
        <ion-button type="submit" expand="block">Send comment</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>
