<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/admin-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-buttons menu-id="menu2" slot="end" (click)="obtainCompany()">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Complaints & Suggestions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding-bottom">

  <ion-card *ngFor="let comment of comments">

    <ion-card-content >

      <div>
        WorkerID: {{comment.workerID}}
      </div>

      <div>
        Comment: {{comment.content}}
      </div>

      <ion-footer class="center">
        <ion-button size="small" expand="block" (click)="resolveComment(comment._id)" color="danger" class="button">Resolve</ion-button>
      </ion-footer>

    </ion-card-content>
  </ion-card>
</ion-content>
