<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Users</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding-bottom">
  
  <div class="center">
    <ion-button [routerLink]="['/user-form']">Add new User</ion-button>
  </div>
  
  <!--<ion-card *ngFor="let user of usersID">
    <ion-card-header>
      <ion-card-title>Worker ID: {{ user.workerID }}</ion-card-title>
    </ion-card-header>-->
    <ion-card *ngFor="let user of users">

      <ion-card-header>
        <ion-card-title>Worker ID: {{ user.workerID }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="user-name">
          Worker name: {{user.name}}
        </div>

        <div class="user-email">
          Email: {{user.email}}
        </div>

        <div class="user-phone">
          Phone: {{user.phone}}
        </div>
      </ion-card-content>

    <ion-footer class="center">
      <ion-button (click)="updateUser(user._id)">Update</ion-button>
      <ion-button (click)="deleteUser(user.name)">Delete</ion-button>
      <ion-button (click)="addTask(user.workerID)">Add task</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>


