<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/user-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>My Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding-bottom">
  
  <ion-card *ngFor="let user of users">
    <ion-card-content >
      <div class="user-name">
        User: {{user.name}}
      </div>

      <div class="user-email">
        Email: {{user.email}}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
