<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/user-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-buttons menu-id="menu2" slot="end" (click)="obtainCompany()">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class = "ion-padding-bottom">



  <ion-card *ngFor="let user of users">


    <ion-card-content>

      <div class="user-name">
        Worker name: {{user.name}}
      </div>

    </ion-card-content>

    <ion-footer class="center">
      <ion-button (click)="addChat(user.workerID)">Add chat</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>


