<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Crear Nueva Tarea</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  
  <form [formGroup]="registerTareaForm" (ngSubmit)="submitRegisterTarea()" novalidate>
    
    <ion-item lines="full">
      <ion-label position="floating">Descripcion</ion-label>
      <ion-input formControlName="descripcion" type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Hora</ion-label>
      <ion-datetime display-format="HH:mm" formControlName="hora"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Duracion</ion-label>
      <ion-datetime display-format="HH:mm" formControlName="duracion"></ion-datetime>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit" expand="block">Sign Up</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
