<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/admin-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Users clock in and clock out</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class = "ion-padding-top">

  <ion-button (click)="generateCode()" expand="block" >Generate Code Today</ion-button>

  <ion-col size="8" class="ion-text-center">
    <h2>{{viewTitle}}</h2>
  </ion-col>

  <calendar [eventSource]="eventSource"
  [calendarMode]="calendar.mode"
  [currentDate]="calendar.currentDate"
  [showEventDetail] = "false"
  (onRangeChanged)="reloadSource(startTime, endTime)"
  (onTitleChanged)="onViewTitleChanged($event)"
  (onEventSelected)="onEventSelected($event)"
  (onTimeSelected)="onTimeSelected($event)"
  step="30">
  </calendar>

</ion-content>

<ion-content class = "ion-padding-bottom">

  <ion-card *ngFor="let code of codes" >
    <ion-card-header>
      <ion-card-title>Code: {{ code.code }}</ion-card-title>
    </ion-card-header>
  </ion-card>


  <ion-card *ngFor="let clock of clocks">

    <ion-card-header>
      <ion-card-title>Worker ID: {{ clock.workerID }}</ion-card-title>
    </ion-card-header>

    <ion-card-content >

      <div class="user-name">
        Entry Date: {{clock.entryDate}}
      </div>

      <div class="user-email">
        Entry Time: {{clock.entryTime}}
      </div>

      <div class="user-email">
        Exit Time: {{clock.exitTime}}
      </div>

    </ion-card-content>

    <ion-footer class="center">

    </ion-footer>
  </ion-card>

</ion-content>
