<ion-header>
  <ion-toolbar>
    <ion-title>Admin Desk</ion-title>
  </ion-toolbar>
</ion-header>


<ion-list class = "ion-wrap" class = "ion-padding-bottom">
  <div class = "center">
  <ion-button [routerLink]="['/users/' + data]">Users</ion-button>
  </div>
  <div class = "center">
  <ion-button [routerLink]="['/teams/' + data]">Teams</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/map/'+ data]">Geolocalization</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/calendar-admin/' + data]">User tasks</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/requests/'+ data]">Pending requests</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/profile-admin/' + data]">Profile</ion-button>
    </div>
  <div class = "center">
    <ion-button [routerLink]="['/configuration/' + data]">Profile configuration</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/faq-admin/' + data]">Faq tasks</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/get-comment/' +data]">Complaints & Suggestions</ion-button>
  </div>
  <div class = "center">
    <ion-button [routerLink]="['/clock-control/' + data]">Clock Control</ion-button>
  </div>
</ion-list>
