<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Admin Desk</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/users']" expand="block" color="primary">Users</ion-button>
        <ion-button [routerLink]="['/teams']" expand="block" color="primary">Teams</ion-button>
        <!--Boton sin funcionalidad de momento-->
        <ion-button [routerLink]="['/requests']" expand="block" color="primary">Pending requests</ion-button>
        <ion-button [routerLink]="['/reports']" expand="block" color="primary">Reports</ion-button>
        <ion-button [routerLink]="['/settings-admin']" expand="block" color="primary">Users Settings</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
