<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/admin-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Teams</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center1">
    <ion-button (click)="addTeam()" class="button" expand="block">Add new team</ion-button>
  </div>

  <ion-card *ngFor="let team of teams">

    <ion-card-header>
      <ion-card-title>{{ team.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content *ngFor="let user of team.users">

        <div class="user-name">
          User: {{user.name}}
        </div>
  
        <div class="user-email">
          Email: {{user.email}}
        </div>
  
        <div class="user-phone">
          Phone: {{user.phone}}
        </div>

        <ion-footer class="center">
          <ion-button size="small" expand="block" (click)="deleteUser(team.name,user._id)" color="danger" class="button">Delete User</ion-button>
        </ion-footer>

    </ion-card-content>

    <ion-footer class="center">
      <ion-button size="small" (click)="deleteTeam(team.name)" color="danger" class="button">Delete Team</ion-button>
      <ion-button size="small" (click)="addUser(team.name)" class="button">Add User</ion-button>
    </ion-footer>

  </ion-card>

</ion-content>
