<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-list class = "ion-wrap" class = "ion-padding-bottom">
  <div class = "center">
  <ion-button [routerLink]="['/login-admin']">Login</ion-button>
  </div>
  <div class = "center">
  <ion-button [routerLink]="['/license']">Register</ion-button>
  </div>
</ion-list>

  <!--<div style="text-align: center;">
    <button (click)="goLoginAdmin()" class="button">LOGIN</button>

  <div style="text-align: center;">
    <button (click)="goRegisterAdmin()" class="button">REGISTER</button>
  </div>-->
