<ion-header>
  <ion-toolbar>
    <ion-button color = "light" class = "button" [routerLink]="['/admin-desk/'+ data]">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-buttons menu-id="menu2" slot="end" (click)="obtainCompany()">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-card *ngFor="let admin of admins">
    <ion-card-header>
      <ion-card-title>{{ admin.name }} Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <div class="user-name">
        CIF: {{admin.cif}}
      </div>

      <div class="user-email">
        Email: {{admin.email}}
      </div>

      <div class="user-phone">
        Phone: {{admin.phone}}
      </div>

      <div class="user-phone">
        Address: {{admin.address}}
      </div>

      <div class="user-phone">
        Postal Code: {{admin.postalCode}}
      </div>

    </ion-card-content>

    <ion-footer class="center">
      <ion-button expand="block" (click)="updateUser(admin.name)">Update</ion-button>
    </ion-footer>
  </ion-card>

</ion-content>
